<div class="container-xxl container-p-y d-flex justify-content-center">
    <div class="misc-wrapper justify-content-center">

        <h2 class="mb-2 mx-2 text-center">Appointment finished</h2>
        <p class="mb-4 mx-2 text-center">This appointment can no longer be modified</p>
        <div class="text-center">
        <a asp-controller="Appointment" asp-action="Index" class="btn btn-primary">Back to home</a>
        </div>
        <div class="mt-3 py-5">
            <img src="~/assets/img/illustrations/man-with-laptop-light.png"
                 alt="page-misc-error-light"
                 width="400"
                 class="img-fluid"
                 data-app-dark-img="illustrations/man-with-laptop-light.png"
                 data-app-light-img="illustrations/man-with-laptop-light.png" />
        </div>
    </div>
</div>
