@model Medpharma.Web.Data.Entities.Exam

@{
    ViewData["Title"] = "Exams";
}

<form id="form1" asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" hidden />
    <div class="card">
            <h5 class="card-header bg-primary text-white">Edit Exam Type</h5>

        <div class="card-body">

            <div class="mb-4 col-md-4 pt-4">
                <label asp-for="Name" class="form-label">Description</label>
                <input asp-for="Name" type="text" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-4 col-md-2">
                <label asp-for="Price" class="form-label">Price (Unit)</label>
                <input asp-for="Price" type="text" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

        </div>
        <hr class="my-0">
        <div class="card-body">
            <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Save Changes</button>
                <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </div>
    </div>
</form>
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

