@model Medpharma.Web.Models.ClerkViewModel

<div class="mb-3 col-md-6">
    <label asp-for="FirstName" class="form-label">First Name</label>
    <input asp-for="FirstName" type="text" class="form-control" placeholder="Name">
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="mb-3 col-md-6">
    <label asp-for="LastName" class="form-label">Last Name</label>
    <input asp-for="LastName" type="text" class="form-control" placeholder="Surname">
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="mb-3 col-md-6">
    <label asp-for="Document" class="form-label">Citizenship Card</label>
    <input asp-for="Document" type="text" class="form-control" placeholder="123456789">
    <span asp-validation-for="Document" class="text-danger"></span>
</div>
<div class="mb-3 col-md-6">
    <label asp-for="Email" class="form-label">E-mail</label>
    <input asp-for="Email" type="email" class="form-control" placeholder="email@email.com">
    <span asp-validation-for="Email" type="email" class="text-danger"></span>
</div>
<div class="mb-3 col-md-6">
    @*<label asp-for="Address" class="form-label">Address</label>
    <input asp-for="Address" type="text" class="form-control" placeholder="Rua Abélio Lima, 123">
    <span asp-validation-for="Address" type="text" class="text-danger"></span>*@
</div>