@model Medpharma.Web.Models.ClerkViewModel
@{
    ViewData["Title"] = "Create";
}
@section Scripts 
{
    @{ 
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
    }
}
    <div class="card mb-4">
        <h5 class="card-header">New Clerk</h5>
        <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4">
                @*IMAGE*@
                <img src="~/images/noimage.png" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
                @*FILEFORM*@
                <div class="button-wrapper">
                    <label asp-for="ImageFile" class="btn btn-primary me-2 mb-4" tabindex="0">
                        <span class="d-none d-sm-block">Upload Photo</span>
                        <i class="bx bx-upload d-block d-sm-none"></i>
                    </label>
                    <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                </div>
            </div>
        </div>
        <hr class="my-0">
        <div class="card-body">
            <form id="form1" asp-action="Create" method="POST" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*IMAGE INPUT*@
                <input asp-for="ImageFile" type="file" class="account-file-input" hidden="" onchange="loadFile(event)" accept="image/png, image/jpeg">
                <div class="row">
                    <partial name="_Clerks" />
                </div>
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary me-2">Create</button>
                    <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
