@model Medpharma.Web.Data.Entities.Speciality

<div class="mb-3 col-md-6">
    <label asp-for="Name" class="form-label">Description</label>
    <input asp-for="Name" type="text" class="form-control">
    <span asp-validation-for="Name" class="text-danger"></span>
</div>



