@{
    ViewData["Title"] = "Account Confirmation";
}

<body>

    <div class="container-fluid py-5">

        <div class="row">

            <div class="col-lg-12 col-md-10 mb-4">

                <div class="alert-success p-2" style="border-radius: 5px">
                    <h2><i class="fa-sharp fa-solid fa-circle-check"></i> Your account has been confirmed</h2>
                </div>
                <div class="py-5 text-center">
                    <h3>Welcome to Medpharma!</h3>
                </div>
                <div class="text-center" style="margin-top: -40px;">
                    <a class="btn btn-sm shadow btn-success w-25" asp-controller="Account" asp-action="Login">Login</a>
                </div>

            </div>

        </div>

    </div>

</body>
