@model Medpharma.Web.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
    Layout = "~/Views/Shared/_Account.cshtml";
}

<body>
    <!-- Content -->

    <div class="container-xxl col-5">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                <!-- Forgot Password -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="index.html" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <img src="~/images/logo.svg" alt="Logo" />
                                </span>
                                <span class="app-brand-text demo text-body fw-bolder">Medpharma</span>
                            </a>
                        </div>
                        <!-- /Logo -->
                        <br />
                        <h4 class="mb-2">Forgot Password? 🔒</h4>
                        <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
                        <form id="form1" class="mb-3" method="POST">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input asp-for="Email" class="form-control" placeholder="Enter your email" autofocus/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <button class="btn btn-primary d-grid w-100">Send Reset Link</button>
                        </form>
                        <div class="text-dark text-center">
                            <p>
                                <b>@ViewBag.Message</b>
                            </p>
                        </div>
                        <div class="text-center">
                            <a asp-controller="Account" asp-action="Login" class="d-flex align-items-center justify-content-center">
                                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                                Back to login
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /Forgot Password -->
            </div>
        </div>
    </div>

    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
